@tailwind base;
@tailwind components;
@tailwind utilities;

@import "./fonts/gilroy/gilroy.css";
@import "./fonts/yekan/yekan.css";

html {
  font-family: "YekanBakh", "gilroy", serif !important;
}
body {
  scrollbar-width: none;
  font-family: "YekanBakh", "gilroy", serif !important;
}
body::-webkit-scrollbar {
  display: none;
}
body {
  height: 100vh;
  overflow: scroll;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type="number"] {
  -moz-appearance: textfield;
}
